
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= button_to 'Edit', edit_article_path(@article), method: 'get' %>
<%= button_to 'Remove', article_path(@article), method: 'delete', data: { confirm: 'Are you sure?' } %>
<%= button_to 'Back to the List', articles_path %>
